SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
DATABASE_URL=
DERIV_APP_ID=
DERIV_API_TOKEN=
REDIS_URL=redis://localhost:6379/0
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
STRIPE_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
