Django
daphne
djangorestframework
djangorestframework-simplejwt
dj-database-url

gunicorn
psycopg2-binary

celery
redis
django-redis

django-anymail[brevo]
python-dotenv

requests
cryptography
pyotp

numpy
scikit-learn
joblib
xgboost
lightgbm
tensorflow

reportlab
websockets
whitenoise
sentry-sdk
